<head>
  <title>PS Chat</title>
</head>

<body>
  <div class="container">

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">PS Chat</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-4">
          <p class="navbar-text">{{> loginButtons}}</p>
        </div>
      </div>
    </nav>

    <div class="row-fluid">

      <div class="panel panel-default col-md-5">
        <div class="panel-heading">Users</div>
        <div class="panel-body">
          {{#each users}}
            {{> userItem}}
          {{/each}}
        </div>
      </div>

      <div class="panel panel-default col-md-5 col-md-offset-2">
        <div class="panel-heading">Rooms</div>
        <div class="panel-body rooms">
          {{#each rooms}}
            {{> roomItem}}
          {{/each}}
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="panel panel-default col-md-12">
        <div class="panel-heading"><h4>{{curr_room}}</h4></div>
          <div class="panel-body messages">
            {{#each curr_messages}}
              {{> messageItem}}
            {{/each}}
          </div>
      </div>

    </div>

    {{#if currentUser}}
    <div class="row-fluid">
      <form id="add_message_form" class="form-inline" role="form">
        <div class="form-group col-md-10">
          <input type="text" class="form-control" id="message" name="message" placeholder="Your message">
        </div>
        <div class="form-group col-md-2">
          <button type="submit" id="submit" class="btn btn-default">Send</button>
        </div>
      </form>
    </div>
    {{/if}}

  </div>
</body>