.container {
    margin-bottom: 20px;
 }

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

.panel.panel-default {
	padding: 0;
}

.rooms .roomname.active {
	font-weight: bold;
}

#message,
#submit {
	width: 100%;
}

.messages {
	height: 300px;
	overflow-x: auto;
}